.wrapper {
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
}
.inner {
    display: flex;
    height: 100%;
    padding: 0 var(--default-layout-horizontal-space);
    width: var(--default-layout-width);
    align-items: center;
    justify-content: space-between;
}

// actions
.actions {
    display: flex;
    align-items: center;
}

// three dots
.more-btn {
    font-size: 2rem;
    background-color: transparent;
    margin-left: 12px;
    padding-left: 12px;
    cursor: pointer;
}

// upload
.action-btn {
    position: relative;
    display: flex;
    display: inline-flex;
    padding: 4px 10px;
    cursor: pointer;
}
.login-btn {
    width: 20px;
    height: 20px;
}
.user-avatar {
    margin-left: 16px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 5px;
    height: 1.8rem;
    line-height: 1.8rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    font-family: 'TiktokDisplayFont', sans-serif;
    background-color: var(--primary-color);
}
