.search,
.search__result {
    width: 320px;
}

.search {
    position: relative;
    padding-left: 16px;
    background: #1618230f;
    border-radius: 92px;
    display: flex;
    justify-content: space-between;
    border: solid 1px transparent;
    font-family: 'TiktokDisplayFont', sans-serif;

    &__input {
        padding: 10px 0;
        flex: 1;
        font-size: 1.6rem;
        margin-right: 33px;
        caret-color: red;
    }

    &__input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &-btn {
        position: relative;
        padding: 10px 16px 10px 10px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        color: rgb(167, 167, 171);
        cursor: pointer;
    }
    &-btn:hover {
        background-color: #e1e1e1;
    }
    &-btn::after {
        position: absolute;
        content: '';
        display: inline-block;
        height: 22px;
        width: 1px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgb(167 167 171);
    }

    .clear,
    .loading {
        position: absolute;
        color: rgb(167 167 171);
        right: 55px;
        top: 50%;
        transform: translateY(-50%);
    }
    .loading {
        animation: spinner 1s linear infinite;
    }

    @keyframes spinner {
        from {
            transform: translateY(-50%) rotate(0);
        }
        to {
            transform: translateY(-50%) rotate(360deg);
        }
    }
}

.search:focus-within {
    border: solid 1px #ccc;
}

.search__title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
