@import 'normalize.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #fe2c55;
    --primary-color-hover: #ea284e;
    --shape-neutral-color: #0000000d;
    --shape-neutral-color-hover: #0000001f;
    --white: #fff;
    --black: #000;

    // DefaultLayout
    --default-layout-horizontal-space: 24px;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-width-sidebar: 240px;
    --default-layout-width-content: calc(var(--default-layout-width) - var(--default-layout-width-sidebar));
}
button,
input,
[tabindex] {
    display: inline-flex;
    background-color: transparent;
    border: none;
    outline: none;
}
a {
    color: inherit;
    // font-family: Arial, Helvetica, sans-serif;
}
a[href] {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'TiktokDisplayFont', sans-serif;
    font-style: 1.6rem;
    line-height: 1.5;
    color: var(--black);
}

// Fonts
@font-face {
    font-family: TiktokDisplayFont-Bold;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: TiktokDisplayFont-Bold;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: TiktokDisplayFont-Bold;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

// Custom Tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
    .tippy-content {
        padding: 8px 9px;
    }
}
